<div class="dialog-container">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

  <h2 mat-dialog-title>Add User</h2>
  <mat-dialog-content>
    <div>
      <mat-form-field class="mr-16" appearance="outline">
        <mat-label>First Name</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="user.firstName"
          matInput
          placeholder="first Name"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="user.lastName"
          matInput
          placeholder="Last Name"
        />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>E-Mail</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="user.email"
          matInput
          placeholder="E-Mail"
        />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Birth Date</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="birthDate"
          matInput
          placeholder="Birth Date"
          [matDatepicker]="picker"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Street + House No.</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="user.street"
          matInput
          placeholder="Street + House No."
        />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="mr-16" appearance="outline">
        <mat-label>Zip Code</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="user.zipCode"
          matInput
          placeholder="Zip Code"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="user.city"
          matInput
          placeholder="City"
        />
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button mat-button cdkFocusInitial (click)="saveUser()">Save</button>
  </mat-dialog-actions>
</div>
