<mat-card class="user-detail-header" appearance="outlined">
  <mat-card-content>
    <button
      [matMenuTriggerFor]="headerMenu"
      class="pin-right-upper-corner"
      mat-icon-button
    >
      <mat-menu #headerMenu="matMenu">
        <button mat-menu-item (click)="editUserDetails()">Edit</button>
      </mat-menu>

      <mat-icon>more_vert</mat-icon>
    </button>

    <img src="./../../assets/img/blank_profil_img.png" alt="" />

    <div class="user-details">
      <h2>{{ user.firstName }} {{ user.lastName }}</h2>
      {{ user.email }}
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="mt-32" appearance="outlined">
  <mat-card-content class="address-card">
    <button
      [matMenuTriggerFor]="addressMenu"
      class="pin-right-upper-corner"
      mat-icon-button
    >
      <mat-menu #addressMenu="matMenu">
        <button mat-menu-item (click)="editMenu()">Edit</button>
      </mat-menu>

      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-card-title>Address</mat-card-title>

    {{ user.street }} <br />
    {{ user.zipCode }} {{ user.city }}
  </mat-card-content>
</mat-card>
